 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap'); .container { max-width:1100px; position:relative; margin:auto; right:0; left:0; width:100%; padding:0 20px; box-sizing:border-box; }

 .container .row { display:-webkit-box; display:-moz-box; display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-flex-wrap:wrap; -ms-flex-wrap:wrap; flex-wrap:wrap; }

 .container .full { width:100%; box-sizing:border-box; }

 .container .one-half { width:100%; box-sizing:border-box; }

 .container .one-half:nth-of-type(odd) { padding-right:30px; }

 @media only screen and (min-width:768px) { .container .one-half { width:50%; }

 }

 .container .one-third { width:100%; box-sizing:border-box; }

 @media only screen and (min-width:768px) { .container .one-third { width:calc(100% / 3); }

 }

 .container .two-third { width:100%; box-sizing:border-box; }

 @media only screen and (min-width:768px) { .container .two-third { width:calc(100% / 3 * 2); }

 }

 h1,h2,h3,h4,h5,h6 { margin:0 0 12px 0; }

 h1 { font-size:32px; line-height:1.3; }

 @media only screen and (min-width:768px) { h1 { font-size:42px; }

 }

 @media only screen and (min-width:640px) { h1 { font-size:37px; }

 }

 h2 { font-size:28px; line-height:46px; color:#373c52; }

 @media only screen and (min-width:960px) { h2 { font-size:40px; }

 }

 @media only screen and (min-width:768px) { h2 { font-size:32px; }

 }

 h3 { font-size:24px; }

 html { font-family:'Poppins', sans-serif; }

 a { text-decoration:none; }

 p { margin:0 0 16px 0; }

 body { margin:0; }

 ul { padding:0; margin:0; }

 ul li { list-style:none; }

 .gform_confirmation_message { margin-top:74px; color:#fff; font-weight:500; }

 form .validation_message,form .validation_error { display:none; }

 form .gform_ajax_spinner_2 { display:none !important; }

 form .gfield_error { background-color:unset !important; margin-bottom:0 !important; border-top:none !important; border-bottom:none !important; padding-bottom:0 !important; padding-top:0 !important; box-sizing:unset !important; }

 form input:not([type='submit']),form textarea { background:#2b2f40; border:none; padding:16px 14px !important; width:100% !important; color:#f4f4f4; border-radius:2px; transition:all 0.5s ease; }

 .gfield_error form input:not([type='submit']),.gfield_error form textarea { border:1px solid #f02424 !important; }

 form input:not([type='submit'])::placeholder,form textarea::placeholder { color:rgba(255, 255, 2555, .8); font-family:'Poppins', sans-serif; font-size:14px; }

 .section-header { position:absolute; z-index:2; width:100%; transition:all 0.3s ease; }

 @media only screen and (min-width:640px) { .section-header { padding:6px 0; }

 }

 .is-scroll .section-header { position:fixed; background:#fff; border-bottom:1px solid #ededed; box-shadow:0 0 7px #b8b8b8; }

 .is-scroll .section-header li a { color:#373c52 !important; }

 .section-header .header { display:-webkit-box; display:-moz-box; display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-box-align:center; -moz-box-align:center; -ms-flex-align:center; -webkit-align-items:center; align-items:center; -webkit-box-pack:end; -moz-box-pack:end; -ms-flex-pack:end; -webkit-justify-content:flex-end; justify-content:flex-end; min-height:80px; }

 @media only screen and (min-width:960px) { .section-header .header { -webkit-box-pack:center; -moz-box-pack:center; -ms-flex-pack:center; -webkit-justify-content:center; justify-content:center; }

 }

 .section-header .btn,.section-header .section-contact input[type='submit'],.section-contact .section-header input[type='submit'] { position:absolute; right:20px; display:none; }

 @media only screen and (min-width:1180px) { .section-header .btn,.section-header .section-contact input[type='submit'],.section-contact .section-header input[type='submit'] { right:40px; }

 }

 @media only screen and (min-width:960px) { .section-header .btn,.section-header .section-contact input[type='submit'],.section-contact .section-header input[type='submit'] { display:inline-block; }

 }

 .section-header .mobile-nav { display:block; }

 @media only screen and (min-width:640px) { .section-header .mobile-nav { display:none; }

 }

 .section-header .mobile-nav .menu li { margin:16px 0; text-transform:uppercase; font-weight:700; }

 .section-header .mobile-nav .menu li a { color:#373c52; }

 .section-header .mobile-nav .ham { cursor:pointer; -webkit-tap-highlight-color:transparent; transition:transform 400ms; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none; user-select:none; position:relative; z-index:2; }

 .section-header .mobile-nav .hamRotate.active { transform:rotate(45deg); }

 .section-header .mobile-nav .hamRotate180.active { transform:rotate(180deg); }

 .section-header .mobile-nav .line { fill:none; transition:stroke-dasharray 400ms, stroke-dashoffset 400ms; stroke:#f02424; stroke-width:5.5; stroke-linecap:round; }

 .section-header .mobile-nav .ham8 .top { stroke-dasharray:40 160; }

 .section-header .mobile-nav .ham8 .middle { stroke-dasharray:40 142; transform-origin:50%; transition:transform 400ms; }

 .section-header .mobile-nav .ham8 .bottom { stroke-dasharray:40 85; transform-origin:50%; transition:transform 400ms, stroke-dashoffset 400ms; }

 .section-header .mobile-nav .ham8.active .top { stroke-dashoffset:-64px; }

 .section-header .mobile-nav .ham8.active .middle { transform:rotate(90deg); }

 .section-header .mobile-nav .ham8.active .bottom { stroke-dashoffset:-64px; }

 .section-header .nav { margin:30px 8px 30px; display:none; }

 @media only screen and (min-width:960px) { .section-header .nav { margin:30px 0; }

 }

 @media only screen and (min-width:640px) { .section-header .nav { display:block; }

 }

 .section-header .nav li { display:inline-block; margin:0 12px; }

 .section-header .nav li a { color:#fff; text-decoration:none; text-transform:uppercase; font-weight:600; letter-spacing:1.1px; font-size:13px; transition:all 0.3s ease; }

 .section-header .nav li a:hover { color:#f02424; }

 .section-header .logo { position:absolute; padding:0 0 0 20px; left:0; z-index:2; font-size:38px; font-weight:600; color:#f4f4f4; letter-spacing:1px; }

 @media only screen and (min-width:480px) { .section-header .logo { font-size:42px; }

 }

 .is-open .section-header .logo { color:#373c52; }

 .is-scroll .section-header .logo { color:#373c52; }

 @media only screen and (min-width:1180px) { .section-header .logo { padding:0 0 0 40px; }

 }

 .section-header .logo img { width:200px; }

 .section-subheader { display:-webkit-box; display:-moz-box; display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-box-align:center; -moz-box-align:center; -ms-flex-align:center; -webkit-align-items:center; align-items:center; background-size:cover !important; background-repeat:no-repeat !important; position:relative; }

 .section-subheader::before { content:''; width:100%; height:100%; background:rgba(18, 28, 51, 0.8); position:absolute; }

 .section-subheader h1 { color:#fff; max-width:640px; text-shadow:0 0 7px #252525; margin-bottom:0; }

 .big.section-subheader h1 { margin-bottom:42px; }

 .section-subheader h1 strong { color:#f02424; }

 .section-subheader p { margin:0; }

 .section-subheader .delay { -webkit-animation-delay:0.4s; -moz-animation-delay:0.4s; -ms-animation-delay:0.4s; -o-animation-delay:0.4s; animation-delay:0.4s; }

 .section-subheader .wrapper { display:-webkit-box; display:-moz-box; display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-box-direction:normal; -webkit-box-orient:vertical; -moz-box-direction:normal; -moz-box-orient:vertical; -webkit-flex-direction:column; -ms-flex-direction:column; flex-direction:column; }

 @media only screen and (min-width:768px) { .section-subheader .wrapper { -webkit-box-direction:normal; -webkit-box-orient:horizontal; -moz-box-direction:normal; -moz-box-orient:horizontal; -webkit-flex-direction:row; -ms-flex-direction:row; flex-direction:row; }

 }

 .section-subheader .wrapper .btn,.section-subheader .wrapper .section-contact input[type='submit'],.section-contact .section-subheader .wrapper input[type='submit'] { margin:0 0 26px 0; width:auto; }

 @media only screen and (min-width:768px) { .section-subheader .wrapper .btn,.section-subheader .wrapper .section-contact input[type='submit'],.section-contact .section-subheader .wrapper input[type='submit'] { margin:0 22px 0 0; }

 }

 @media only screen and (min-width:480px) { .section-subheader .wrapper .btn,.section-subheader .wrapper .section-contact input[type='submit'],.section-contact .section-subheader .wrapper input[type='submit'] { width:fit-content; }

 }

 .section-subheader .wrapper .btn:first-of-type,.section-subheader .wrapper .section-contact input[type='submit']:first-of-type,.section-contact .section-subheader .wrapper input[type='submit']:first-of-type { border:2px solid #f02424; }

 .section-subheader .wrapper .btn:first-of-type:hover,.section-subheader .wrapper .section-contact input[type='submit']:first-of-type:hover,.section-contact .section-subheader .wrapper input[type='submit']:first-of-type:hover { border:2px solid #373c52; }

 .section-infoblocks { position:relative; background:#fff; }

 @media only screen and (min-width:960px) { .section-infoblocks { padding:0 0 10px 0; }

 }

 .section-infoblocks .row { -webkit-box-pack:justify; -moz-box-pack:justify; -ms-flex-pack:justify; -webkit-justify-content:space-between; justify-content:space-between; }

 .section-infoblocks .blocks { display:-webkit-box; display:-moz-box; display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-box-direction:normal; -webkit-box-orient:vertical; -moz-box-direction:normal; -moz-box-orient:vertical; -webkit-flex-direction:column; -ms-flex-direction:column; flex-direction:column; width:100%; position:relative; top:-48px; }

 @media only screen and (min-width:768px) { .section-infoblocks .blocks { -webkit-box-direction:normal; -webkit-box-orient:horizontal; -moz-box-direction:normal; -moz-box-orient:horizontal; -webkit-flex-direction:row; -ms-flex-direction:row; flex-direction:row; }

 }

 .section-infoblocks .blocks .block { -webkit-flex-basis:0; flex-basis:0; -webkit-box-flex:1; -moz-box-flex:1; -webkit-flex-grow:1; -ms-flex:1; flex-grow:1; transition:all 0.3s ease; position:relative; padding:50px 20px 50px 20px; border-radius:6px; background:#fff; box-shadow:0 0 8px #5f5f5f; box-sizing:border-box; margin:0 0 40px 0; }

 .section-infoblocks .blocks .block:hover { background:#f4f4f4; }

 .section-infoblocks .blocks .block img { width:52px; margin-bottom:8px; }

 .section-infoblocks .blocks .block p:first-of-type { color:#f02424; margin:0 0 28px 0; }

 .section-infoblocks .blocks .block p:nth-of-type(2) { margin:0 0 32px 0; }

 .section-infoblocks .blocks .block span { font-size:18px; font-weight:700; color:#373c52; margin-bottom:12px; }

 .section-infoblocks .blocks .block .btn,.section-infoblocks .blocks .block .section-contact input[type='submit'],.section-contact .section-infoblocks .blocks .block input[type='submit'] { width:170px; margin:0 auto; }

 @media only screen and (min-width:960px) { .section-infoblocks .blocks .block .btn,.section-infoblocks .blocks .block .section-contact input[type='submit'],.section-contact .section-infoblocks .blocks .block input[type='submit'] { width:170px; }

 }

 @media only screen and (min-width:768px) { .section-infoblocks .blocks .block .btn,.section-infoblocks .blocks .block .section-contact input[type='submit'],.section-contact .section-infoblocks .blocks .block input[type='submit'] { width:auto; }

 }

 .section-infoblocks .blocks .block * { display:block; }

 @media only screen and (min-width:960px) { .section-infoblocks .blocks .block { padding:40px 40px 60px 40px; }

 }

 @media only screen and (min-width:768px) { .section-infoblocks .blocks .block { margin:0; padding:30px 20px 50px 20px; }

 .section-infoblocks .blocks .block:nth-of-type(1) { margin:0 8px 0 0; }

 .section-infoblocks .blocks .block:nth-of-type(2) { margin:0 8px; }

 .section-infoblocks .blocks .block:nth-of-type(3) { margin:0 0 0 8px; }

 }

 @media only screen and (min-width:480px) { .section-infoblocks .blocks .block { padding:40px 44px 50px 44px; margin:0 40px 40px 40px; }

 }

 .section-cms { background:#fff; }

 @media only screen and (min-width:768px) { .section-cms { padding:60px 0; }

 }

 .section-cms .one-half:nth-of-type(2) { padding-top:60px; }

 @media only screen and (min-width:768px) { .section-cms .one-half:nth-of-type(2) { padding-left:20px; }

 }

 .section-cms span { color:#f02424; font-weight:600; font-size:16px; }

 .section-why { background:#fff; padding:60px 0; min-height:300px; /* Accordion styles */ }

 .section-why h2,.section-why p { color:#373c52; }

 .section-why input { position:absolute; opacity:0; z-index:-1; }

 .section-why .faq { margin:40px 0 0 0; }

 @media only screen and (min-width:768px) { .section-why .faq { margin:52px 0 0 0; }

 }

 .section-why .faq li { color:#373c52; width:100%; font-family:'Poppins', sans-serif; }

 .section-why .faq li.question { font-size:18px; border-bottom:1px solid #373c52; font-weight:700; padding:14px 0; cursor:pointer; }

 .section-why .faq li.question.open:after { transform:rotate(180deg); }

 .section-why .faq li.question:after { content:''; background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='arrow-down' class='svg-inline--fa fa-arrow-down fa-w-14' role='img' viewBox='0 0 448 512'%3E%3Cpath fill='%233f4354' d='M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z'/%3E%3C/svg%3E"); width:15px; height:16px; display:inline-block; background-position:bottom; background-repeat:no-repeat; float:right; transition:600ms ease; margin-top:6px; }

 .section-why .faq li.awnser { display:none; font-size:16px; margin-top:14px; }

 .section-why input:checked + .tab-label::after { transform:rotate(90deg); }

 .section-why input:checked ~ .tab-content { max-height:100vh; padding:0 0 26px 0; }

 .section-projects { background:#f4f4f4; padding:70px 0 80px 0; }

 .section-projects h2 { text-transform:uppercase; font-size:28px; margin:0 0 58px; }

 .section-projects .full { text-align:center; }

 .section-projects .one-third { width:100%; margin:12px 0; }

 @media only screen and (min-width:640px) { .section-projects .one-third { width:calc(100% / 3 - .7%); margin:0.5%; }

 .section-projects .one-third:nth-of-type(3n) { margin-right:0; }

 .section-projects .one-third:nth-of-type(3n+1) { margin-left:0; }

 }

 .section-projects .img-wrapper { width:100%; }

 @media only screen and (min-width:768px) { .section-projects .img-wrapper { height:270px !important; }

 }

 @media only screen and (min-width:640px) { .section-projects .img-wrapper { height:190px; }

 }

 .section-projects .project:nth-of-type(1) { animation-delay:calc(.25s * 1); }

 .section-projects .project:nth-of-type(2) { animation-delay:calc(.25s * 2); }

 .section-projects .project:nth-of-type(3) { animation-delay:calc(.25s * 3); }

 .section-website { padding:100px 0; }

 .section-website a.back { font-size:16px; color:#f02424; font-weight:600; position:relative; padding-right:40px; }

 .section-website a.back::after { content:''; background:url("../img/arrow.svg"); background-repeat:no-repeat; background-size:95%; display:block; position:absolute; right:10px; top:2px; width:16px; height:100%; transition:all 0.3s ease; }

 .section-website a.back:hover::after { -webkit-transform:translateX(3px); -moz-transform:translateX(3px); -ms-transform:translateX(3px); -o-transform:translateX(3px); transform:translateX(3px); }

 .section-website .row:nth-of-type(2) { margin-top:40px; }

 .section-website .one-half { padding:20px 30px; }

 .section-website .one-half:nth-of-type(1) { background:#f4f4f4; border-top-left-radius:6px; border-top-right-radius:6px; }

 @media only screen and (min-width:768px) { .section-website .one-half:nth-of-type(1) { border-bottom-left-radius:6px; border-top-right-radius:unset; }

 }

 .section-website .one-half:nth-of-type(1) h3 { color:#373c52; }

 .section-website .one-half:nth-of-type(2) { background:#373c52; border-bottom-right-radius:6px; border-bottom-left-radius:6px; color:#f4f4f4; }

 @media only screen and (min-width:768px) { .section-website .one-half:nth-of-type(2) { border-top-right-radius:6px; border-bottom-left-radius:unset; }

 }

 .section-website .one-half:nth-of-type(2) a { color:#f4f4f4; }

 .section-website .one-half:nth-of-type(2) p:nth-of-type(1) { color:#f02424; font-weight:600; font-size:17px; }

 .section-website .one-half:nth-of-type(2) p:nth-of-type(2) { font-weight:500; }

 .section-website .one-half:nth-of-type(2) li { background-repeat:no-repeat !important; background-position:center left !important; padding:6px 36px; }

 .section-website .one-half:nth-of-type(2) li:nth-of-type(1) { background:url(../img/phone.svg); background-size:18px !important; }

 .section-website .one-half:nth-of-type(2) li:nth-of-type(2) { background:url(../img/mail.svg); background-size:20px !important; }

 .section-packs { padding:100px 0; }

 .section-packs h2 { font-size:31px; }

 .section-packs p { margin-bottom:50px; }

 .section-packs .one-half { width:100%; padding-right:0 !important; margin:0 0 40px 0; }

 @media only screen and (min-width:768px) { .section-packs .one-half { width:48%; margin:1%; }

 .section-packs .one-half:nth-of-type(2n) { margin-right:0; }

 .section-packs .one-half:nth-of-type(2n+1) { margin-left:0; }

 }

 .section-packs .website-container { padding:30px 30px 80px 30px; height:100%; background:#f4f4f4; box-sizing:border-box; position:relative; border-radius:6px; }

 .section-packs .website-container h3 { color:#373c52; }

 .section-packs .website-container a { position:absolute; bottom:24px; left:0; right:0; margin:0 auto; width:120px; text-align:center; color:#f02424; font-weight:600; padding-right:34px; }

 .section-packs .website-container a::after { content:''; background:url("../img/arrow.svg"); background-repeat:no-repeat; background-size:95%; display:block; position:absolute; right:10px; top:4px; width:16px; height:100%; transition:all 0.3s ease; }

 .section-packs .website-container a:hover::after { -webkit-transform:translateX(3px); -moz-transform:translateX(3px); -ms-transform:translateX(3px); -o-transform:translateX(3px); transform:translateX(3px); }

 .section-footer { background:#373c52; padding:60px 0; color:#fff; }

 .section-footer h3 { margin-bottom:16px; font-size:20px; }

 .section-footer .one-third { margin:0 0 40px; }

 @media only screen and (min-width:768px) { .section-footer .one-third { margin:0; }

 }

 .section-footer .menu li { margin:0 0 9px 0; }

 .section-footer .menu li a { text-transform:capitalize; }

 .section-footer .contact li { background-repeat:no-repeat !important; background-position:center left !important; padding:5px 30px; }

 .section-footer .contact li:nth-of-type(1) { background:url(../img/phone.svg); background-size:16px !important; }

 .section-footer .contact li:nth-of-type(2) { background:url(../img/mail.svg); background-size:17px !important; }

 .section-footer .contact li:nth-of-type(3) { background:url(../img/mail.svg); background-size:17px !important; }

 .section-footer .social li a { display:block; position:relative; width:26px; height:26px; }

 .section-footer .social li a img { width:100%; height:100%; }

 .section-footer li a { color:#fff !important; }

 .section-subfooter { padding:8px 0; background:#f4f4f4; }

 .section-subfooter p { margin:0; font-size:12px; font-weight:500; text-transform:uppercase; }

 .section-contact { background:#373c52; padding:60px 0; border-bottom:1px solid #4b5271; }

 .section-contact h3 { margin-top:18px; color:#fff; font-weight:500; }

 .section-contact input[type='submit'] { border-radius:2px !important; }

 .section-contact input[type='submit']:hover { background:#f02424 !important; }

 .section-contact .gform_wrapper { margin-top:66px; }

 .section-contact .checkmark li { background:url(../img/arrow.svg); background-size:18px; background-repeat:no-repeat; background-position:center left; color:#f4f4f4; }

 .section-about { padding:60px 0; }

 @media only screen and (min-width:640px) { .section-about { padding:100px 0; }

 }

 .section-about .one-third { width:100%; order:1; }

 @media only screen and (min-width:640px) { .section-about .one-third { flex:2; order:unset; }

 }

 .section-about .two-third { width:100%; margin-bottom:50px; }

 @media only screen and (min-width:640px) { .section-about .two-third { flex:3; margin:0; padding-left:30px; }

 }

 .section-about .text-wrapper h3 { color:#373c52; }

 .section-about .contact-container { padding:30px 20px; background:#373c52; color:#fff; border-radius:12px; position:relative; }

 @media only screen and (min-width:640px) { .section-about .contact-container { padding:20px; }

 }

 .section-about .contact-container h3 { background:url(../img/chat.svg); background-size:34px; background-repeat:no-repeat; background-position:center left; padding:6px 0 6px 46px; }

 .section-about form .gfield,.section-about form .ginput_container { margin:0 !important; padding:0 !important; }

 .section-about form textarea { height:120px !important; }

 .section-about form input:not([type='submit']),.section-about form textarea { border-radius:8px; height:50px; margin:4px 0 !important; }

 .section-about form input:not([type='submit'])::placeholder,.section-about form textarea::placeholder { font-size:13px; }

 .section-about form .button { width:80% !important; left:0; margin:0 auto !important; right:0; position:absolute; bottom:20px; }

 .section-about form .button:hover { background:#f02424; color:#fff; }

 .subtitle { font-size:20px; font-weight:700; font-family:'Poppins', sans-serif; text-transform:uppercase; margin:12px 0; }

 .btn,.section-contact input[type='submit'],.button { background:#f02424; color:#fff; padding:14px 24px; border-radius:6px; text-transform:uppercase; cursor:pointer; font-family:'Poppins', sans-serif; letter-spacing:1.2px; font-weight:700; font-size:13px; text-align:center; display:inline-block; position:relative; z-index:1; transition:all 0.3s ease; border:none; -webkit-appearance:none; -moz-appearance:none; appearance:none; }

 .btn:hover,.section-contact input[type='submit']:hover,.button:hover { background:#373c52; color:#fff; }

 .transparent { background:transparent; border:2px solid #fff; color:#fff; }

 .transparent:hover { background:#f02424; border:2px solid #f02424; }

 .checkmark { padding:0 0 0 2px; }

 .checkmark li { background:url(../img/checkmark.svg); background-size:18px; background-repeat:no-repeat; background-position:center left; padding:6px 30px; font-size:15px; font-weight:500; }

 .logo { width:200px; }

 .img-wrapper { position:relative; overflow:hidden; display:block; }

 .img-wrapper img { transition:all 0.3s ease; height:100%; width:100%; }

 .img-wrapper:hover img { transform:scale(1.05); }

 .menu-overlay { position:absolute; top:0; left:0; height:100vh; width:100vw; background:#f4f4f4; display:none; justify-content:center; align-items:center; text-align:center; }

 .is-open .menu-overlay { display:-webkit-box; display:-moz-box; display:-webkit-flex; display:-ms-flexbox; display:flex; }

 .check-vp { opacity:0; }

 .fadeIn { -webkit-animation-duration:0.5s; -webkit-animation-name:fadeIn; -webkit-animation-fill-mode:both; -moz-animation-duration:0.5s; -moz-animation-name:fadeIn; -moz-animation-fill-mode:both; -o-animation-duration:0.5s; -o-animation-name:fadeIn; -o-animation-fill-mode:both; animation-duration:0.5s; animation-name:fadeIn; animation-fill-mode:both; }

 @-webkit-keyframes fadeIn { 0% { opacity:0; }

 100% { opacity:1; }

 }

 @-moz-keyframes fadeIn { 0% { opacity:0; }

 100% { opacity:1; }

 }

 @-ms-keyframes fadeIn { 0% { opacity:0; }

 100% { opacity:1; }

 }

 @-o-keyframes fadeIn { 0% { opacity:0; }

 100% { opacity:1; }

 }

 @keyframes fadeIn { 0% { opacity:0; }

 100% { opacity:1; }

 }

 .fadeInRight { -webkit-animation-duration:0.4s; -webkit-animation-name:fadeInRight; -webkit-animation-fill-mode:both; -moz-animation-duration:0.4s; -moz-animation-name:fadeInRight; -moz-animation-fill-mode:both; -o-animation-duration:0.4s; -o-animation-name:fadeInRight; -o-animation-fill-mode:both; animation-duration:0.4s; animation-name:fadeInRight; animation-fill-mode:both; }

 @-webkit-keyframes fadeInRight { 0% { opacity:0; -webkit-transform:translateX(-20px); -moz-transform:translateX(-20px); -ms-transform:translateX(-20px); -o-transform:translateX(-20px); transform:translateX(-20px); }

 100% { opacity:1; -webkit-transform:translateX(0); -moz-transform:translateX(0); -ms-transform:translateX(0); -o-transform:translateX(0); transform:translateX(0); }

 }

 @-moz-keyframes fadeInRight { 0% { opacity:0; -webkit-transform:translateX(-20px); -moz-transform:translateX(-20px); -ms-transform:translateX(-20px); -o-transform:translateX(-20px); transform:translateX(-20px); }

 100% { opacity:1; -webkit-transform:translateX(0); -moz-transform:translateX(0); -ms-transform:translateX(0); -o-transform:translateX(0); transform:translateX(0); }

 }

 @-ms-keyframes fadeInRight { 0% { opacity:0; -webkit-transform:translateX(-20px); -moz-transform:translateX(-20px); -ms-transform:translateX(-20px); -o-transform:translateX(-20px); transform:translateX(-20px); }

 100% { opacity:1; -webkit-transform:translateX(0); -moz-transform:translateX(0); -ms-transform:translateX(0); -o-transform:translateX(0); transform:translateX(0); }

 }

 @-o-keyframes fadeInRight { 0% { opacity:0; -webkit-transform:translateX(-20px); -moz-transform:translateX(-20px); -ms-transform:translateX(-20px); -o-transform:translateX(-20px); transform:translateX(-20px); }

 100% { opacity:1; -webkit-transform:translateX(0); -moz-transform:translateX(0); -ms-transform:translateX(0); -o-transform:translateX(0); transform:translateX(0); }

 }

 @keyframes fadeInRight { 0% { opacity:0; -webkit-transform:translateX(-20px); -moz-transform:translateX(-20px); -ms-transform:translateX(-20px); -o-transform:translateX(-20px); transform:translateX(-20px); }

 100% { opacity:1; -webkit-transform:translateX(0); -moz-transform:translateX(0); -ms-transform:translateX(0); -o-transform:translateX(0); transform:translateX(0); }

 }

/*# sourceMappingURL=style.css.map */